.center {
    text-align: center;
}
form input[type=text] {
    width: initial;
}
a.ico {
	text-decoration: none;
	color: inherit;
}
a.ico:hover {
	text-decoration: none;
	color: red;
}
input[type="text"] {
	background: white;
}